@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
.wrap{
	width: 1366px;
	height: 1860px;
	margin: 0 auto;
/*	background-color: aqua;*/
}
.main{
	width: 1366px;
	height: 30px;
	background-color: blueviolet;
}
.main h2{
	line-height: 30px;
	color: white;
}
.head{
	width: 1366px;
	height: 200px;
	background-color: white;
}
.logo{
	float:left;
	margin-left: 300px;
	margin-top: 10px;
}
.search{
	float: right;
	margin: 70px 250px 0px 0px;
}
.search input{
	width: 400px;
	padding: 5px;
	border-radius: 20px;
}
.search button{
	width: 100px;
	padding: 5px;
	border-radius: 20px;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	border: none;
}
.search button:hover{
	background-color: blueviolet;
	color: white;
}
.nav{
	width: 1366px;
	height: 50px;
	background-color: blueviolet;
}
.nav ul{
	margin-left: 450px;
/*	margin: 0 auto;*/
}
.nav ul li{
	list-style: none;
	display: inline-block;
	padding-right: 40px;
	padding-top: 15px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

a {
  text-decoration: none;
}


/*content*/
.content{
	width: 1366px;
	height: 1300px;
	background-image: url("img/augustine-wong-3Om4DHcaAc0-unsplash.jpg")
/*	background-color: aquamarine; */
}
/*
.content h4{
	padding: 5px 0 0 10px;
} */

.content img{
	padding: 50px 0 0 100px;
}

.blog1, .text1 {
	display: inline-block;
}

.text1{
	width: 454px;
	height: 170px;
	padding-left: 100px;
	margin-right: 100px;
} 

.text1 button{
	border: none;
	border-radius: 20px;
	width: 100px;
	background-color: blueviolet;
	color:white;
}

.text1 button:hover{
	background-color: white;
	color:blueviolet;
	cursor: pointer;
}

.blog2, .text2 {
	display: inline-block;
}

.text2{
	width: 454px;
	height: 170px;
	padding-left: 100px;
	margin-right: 100px;
	
} 

.text2 button{
	border: none;
	border-radius: 20px;
	width: 100px;
	background-color: blueviolet;
	color:white;
}

.text2 button:hover{
	background-color: white;
	color:blueviolet;
	cursor: pointer;
}

.blog3, .text3 {
	display: inline-block;
}

.text3{
	width: 454px;
	height: 170px;
	padding-left: 100px;
	margin-right: 100px;
	
} 

.text3 button{
	border: none;
	border-radius: 20px;
	width: 100px;
	background-color: blueviolet;
	color:white;
}

.text3 button:hover{
	background-color: white;
	color:blueviolet;
	cursor: pointer;
}

.blog4, .text4 {
	display: inline-block;
}

.text4{
	width: 454px;
	height: 170px;
	padding-left: 100px;
	margin-right: 100px;
	
} 

.text4 button{
	border: none;
	border-radius: 20px;
	width: 100px;
	background-color: blueviolet;
	color:white;
}

.text4 button:hover{
	background-color: white;
	color:blueviolet;
	cursor: pointer;
}



/* Footer */
.footer{
	width: 1366px;
	height:270px;
	background-color:blueviolet;
	color: white;
	
}
.about, .store, .links, .news, .logob{
	float: left;
	margin-left: 90px; 
	margin-top: 50px;
}

.footer h3{
	padding-bottom: 30px;
}

.logob{
	margin-left: 80px;
}

.news input{
	width: 150px;
	height: 20px;
	padding: 6px;
	border-radius: 20px;
	border: none;
}
.news button{
	width: 31px;
	height: 31px;
	padding: 10px; 
	border-radius: 20px;
/*	font-weight: bold;
	font-size: 16px; */
	cursor: pointer; 
	border: none;
	background-image: url("img/icons8-jingle-bell-64.png");
	background-size: contain;
}

.news img{
	margin: 5px;
}

.icons{
	padding-top: 10px;
	padding-left: 30px;
}


